
  #animals, #gender, #search-btn {
    margin: 0 10px;
  }

#search select {
    margin: 10px 5px;
    text-align: center;
    width: 50%;
  }

#home-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #return-btn {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    transition-duration: 0.4s;
  }
  
  #return-btn:hover {
    background-color: #00698C;
  }

:root {
    --head-color: #2d7d46;
    --body-color: #23272a;
    --top-text-color: #ffffff;
    --text-color: #efefef;
    --card-color: #2c2f33;
    --search-color: #9da1a4;
    --sub-head-color: #1cb955;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-color);
    color: var(--text-color);
    height: 100vh;
}


header {
    height: 150px;
    font-size: 300%;
    background-color: var(--head-color);
    color: var(--top-text-color);
    padding-top: 10px;
}

header h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40px;
}

main {
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
}

#second-main {
    display: block;
}

#map {
    width: 65vw;
    height: 70vh;
    margin: 3vh 1vw 3vh 2vw;
    border-radius: 5px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 6px 25px 0 rgba(0,0,0,0.19);
}

#search {
    width: 25vw;
    height: 70vh;
    margin: 3vh 1vw 3vh 2vw;
    background-color: var(--card-color);
    padding: 15px;
    border-radius: 5%;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 6px 25px 0 rgba(0,0,0,0.19);
}

h3 {
    font-weight: bold;
    margin-top: 20px;
}

.btn,
select {
    font-size: 20px;
    background-color: var(--head-color);
    color: var(--text-color);
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    border-color: var(--head-color);
}

.btn:hover,
select:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 6px 25px 0 rgba(0,0,0,0.19);
    color: var(--body-color);
    background-color: var(--sub-head-color);
}

#search-btn {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1px;
    padding-bottom: 5px;
}

#adopt-btn {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    padding-bottom: 5px;
}

.img {
    margin: 10px;
    padding-left: 7%;
    display: none;
}

#select-category {
    width: 300px;
    font-size: 20px;
    margin: 10px;
}

#search-bar {
    text-align: center;
}

#geocoder {
    display: block;
}

.mapboxgl-ctrl-geocoder--input {
    box-sizing: border-box!important;
    width: 90%!important;
    display: block!important;
    
}

.input,
.mapboxgl-ctrl-geocoder--input,
.suggestions {
    margin-left: 5%!important;
    margin-right: 5%!important;
    width: 90%!important;
    font-family: Arial, Helvetica, sans-serif!important;
    background-color: var(--search-color)!important;
    color: var(--text-color)!important;
    border-color: var(--search-color)!important;
    margin-bottom: 20px;
}

.mapboxgl-ctrl-geocoder--icon,
.mapboxgl-ctrl-geocoder--button {
    display: none!important;
}

input {
    font-size: 20px!important;
}

.input::placeholder,
.mapboxgl-ctrl-geocoder--input::placeholder {
    color: var(--text-color)!important;
    opacity: 1!important;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.label {
    padding-left: 10px;
}

#location {
    font-weight: bold;
    font-size: 20px;
}

#filters {
    text-align: center;
    margin-top: 4vh;
}

#results-box {
    margin: 20px 0 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96vw;
    height: 60vh;
    background-color: var(--card-color);
}

/* Adding mobile view */
@media screen and (max-width: 768px) {
    .card {
       width: 20%;
       min-height: 20vh;
    }
    #map {
        width: 75vh;
    }
    header {
       font-size: medium;
    }
    header h1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
    }
    #search-btn {
        width: 60%;
        font-size: small;
    }
    #adopt-btn {
        width: 60%;
        font-size: small;
    }
    
    #search-bar {
        width: 80%;
    }
    .img {
        display: none;
    }
    #animals, #gender {
        width: 60%;
        font-size: small;
    }
}

