body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 20vh;
    font-size: 50px;
    background-color: darkgreen;
    color: white;
}

main {
    display: flex;
}

header h1 {
    padding-top: 45px;
}


.card {
    width: 40%;
    min-height: 60vh;
    margin: 10px;
}

#search h2 {
    font-size: 30px;
    width: 30%;
    max-height: 60px;
    padding: 10px;
}

#search {
    margin: 10px;
    flex-wrap: wrap;
    max-width: 300px;
}

#search-btn {
    font-size: 20px;
    background-color: saddlebrown;
    color: white;
    border-radius: 10%;
}

#search-history {
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}

#map {
    margin: 10px;
}

.img {
    margin: 10px;
    padding-left: 7%;
}

#select-category {
    width: 300px;
    font-size: 20px;
    margin: 10px;
}

input {
    width: 290px;
    margin: 10px;
    font-size: 20px;
}



#results {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}